<div class="flex items-center justify-between h-fit px-4 pt-4 ">
  <h1 class="text-xl text-black select-none">{{ titleHeader }}</h1>
  <div class="cursor-pointer flex justify-end items-center text-gray-500"
    (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>    
  </div>
</div>
<div class="p-1">
  <hr class=" border-gray-600">
</div>

